<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="/index/">Schedule</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/preferences/">Preference</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/optimisation/">Optimisation</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/viewchanges/">RescheduleApproval</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/management/">CourseManagement</a>
        </li>
    </ul>
    <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Finnlay Mellor</a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="/logout/">Sign Out</a>
            </li>
        </ul>
    </div>
</nav>